* {
  font-family: 'Roboto Light', Arial, Helvetica, sans-serif, sans-serif;
  margin: 0;
  padding: 0;

  border: 1px solid red;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav,
footer,
.cover-banner {
  background-color: #1F2937;
  color: #F9FAF8;
}

nav {
  display: flex;
  padding: 24px;
  justify-content: space-around;
}

nav > ul {
  display: flex;
}

nav > ul > li {
  padding: 8px;
}

.cover-banner {
  display: flex;
  padding: 48px;
  justify-content: center;
}

.banner-left,
.banner-right {
  width: 400px;
  padding: 0 24px;
  flex: none;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 900;
}

.content-one,
.content-two,
.content-three {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.app-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 8px;
}

.app {
  height: 150px;
  width: 150px;
}

.content-two {
  background-color: #E5E7EB;
}

.content-three-enclosure {
  border-radius: 5px;
  background-color: #3882f6;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  gap: 32px;
}

footer {
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

ul {
  list-style-type: none;
}

button {
  padding: 8px 24px;
  border-radius: 5px;
}